<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'/>
    <link rel="stylesheet" href="./css/styles.css">
    <title>Todo list Vue</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>My todo List...</h1>
            <div class="insert">
                <input v-model='message' 
                type="text" 
                placeholder="Add a new element in the list"
                @keyup.13='addItem()'
                >
                <button
                @click='addItem()'
                >
                ADD
            </button>
            </div>
            <div class="scrollable">
                <div class="list">

                    <!-- todo list -->
                    <div v-for='(item, index) in toDoList' class="row flex">
                        <p 
                        class="element"
                        @click='done(index)'
                        >
                            <i 
                            :class='[toDoList[index].check, "fas fa-check"]'
                            >
                            </i>
                            <div v-if = "editItem === index" class="edit">
                                <input v-model="newText" type="text" > 
                                <span @click="change(index)">conferma</span>                               
                            </div>
                            <div v-else class="text">
                                <p  @click="edit(index)">{{ toDoList[index].item }}</p>

                            </div>
                            
                        </p>
                        <i 
                        @click='removeItem(index)'
                        class="fas fa-times"></i>                
                    </div>
                    
                    <!-- hidden element -->
                    <div 
                    :class="[toDoList == '' ? 'show' : 'hidden', 'row'] "
                    >
                    <p class="element">Your list is empty</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    



    <!-- firebase configurazion -->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
        
        <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>

        <!-- firebase firestore -->
        <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-firestore.js"></script>
        
        <script>
            // Your web app's Firebase configuration
            // For Firebase JS SDK v7.20.0 and later, measurementId is optional
            var firebaseConfig = {
                apiKey: "AIzaSyA9TA2TqlDXz6wb6D9sY4URfnQ9rfySsiY",
                authDomain: "todo-vue-caa64.firebaseapp.com",
                projectId: "todo-vue-caa64",
                storageBucket: "todo-vue-caa64.appspot.com",
                messagingSenderId: "1027821065216",
                appId: "1:1027821065216:web:d73c5a7480a21340fdb4e5",
                measurementId: "G-0LX9DSTKL8"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
        </script>

    <!-- cdn vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- import main script  -->
    <script src="./js/main.js"></script>
</body>
</html>